@page
@model ArthurModel
@{
    ViewData["Title"] = "Arthur";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Arthur</h1>
        <p>Esta página é do Arthur</p>
    <h1>

   -------------O pai do pensamento------------
    </h1>
    <hr>
    <img src="/imagens/plato.jpg" alt="Trulli" width="500" height="533">
    <hr>
    <h1>Platão</h1>
    <hr>
    <h2>
        Platão foi um filósofo fundamental para o desenvolvimento do pensamento ocidental. Ele propôs que o mundo sensível é imperfeito e que existe um mundo das ideias, eterno e perfeito. Sua alegoria da caverna ilustra a diferença entre o conhecimento superficial e o verdadeiro. Em *A República*, discutiu a ideia de justiça, sugerindo uma sociedade governada por filósofos-reis. Platão também acreditava na imortalidade da alma, dividida em razão, vontade e desejo, e defendia que a razão deveria governar as outras partes. Seu método dialético, baseado em diálogos e discussões, influenciou profundamente a filosofia e outras áreas do saber.
    </h2>
    <hr>
    <h2>
    Platão, conhecido por suas contribuições filosóficas, também teve seu nome relacionado ao seu físico. Acredita-se que ele tenha sido chamado assim devido à sua estatura robusta e aos ombros largos, já que "Platão" vem do grego "platos", que significa "largura" ou "amplitude". Alguns até sugerem que o nome possa refletir não apenas sua constituição física, mas também a grande amplitude de seu pensamento filosófico, como se sua mente tivesse a mesma "largura" de seu corpo. Assim, seu nome acaba sendo um reflexo, de certa forma, tanto de sua aparência quanto de sua profundidade intelectual.
    </h2>
    <hr>
    <h2>
    <a href="https://chatgpt.com/">Fontes da pesquisa</a>
    </h2>
    </div>
     <form method="post">
        <input name="id" type="text" />
        <input type="text" name="example" />
        <input type="submit" class="btn btn-lg btn-default" value="Enviar" />
    </form>
</div>

