@page
@model ArthurModel
@{
    ViewData["Title"] = "Arthur";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Arthur</h1>
        <p>Esta página é do Arthur</p>
    <h1>

   --------------------------------------------------- O pai do terror-----------------------------------------------
    </h1>
    <hr>
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Osama_bin_Laden_portrait.jpg" alt="Trulli" width="500" height="333">
    <hr>
    <h1>Osama bin Laden</h1>
    <hr>
    <h2>
        Osama bin Laden foi o líder da organização terrorista Al-Qaeda e é amplamente conhecido por ser o responsável pelos ataques de 11 de setembro de 2001 nos Estados Unidos, onde quatro aviões sequestrados foram usados para atacar o World Trade Center em Nova York e o Pentágono em Washington, D.C. Esses ataques resultaram na morte de quase 3.000 pessoas e provocaram mudanças significativas na política internacional, incluindo o início da Guerra ao Terror liderada pelos Estados Unidos.
    </h2>
    <hr>
    <img src="nana.jpg" alt="Trulli" width="500" height="333">
    <img src="akkkk.jpg" alt="Trulli" width="500" height="333">
    </div>
</div>

