@page
@model AugustoModel
@{
    ViewData["Title"] = "Augusto";
}
<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Escudo_do_Sport_Club_Internacional.svg/480px-Escudo_do_Sport_Club_Internacional.svg.png">
        </a>
        <h1>Augusto</h1>
        
        <h2>Olá, tudo bem? Espero que sim!</h2>
        <br>
        <br>
        <h3>Prazer, meu nome é Augusto no momento possuo 16 anos.</h3>
        <h3>Eu gosto de jogar, tanto jogos elétronicos, quanto jogos de carta, etc.</h3>
        <h3>O time de futebol ao qual eu torço é o Internacional.</h3>
        <br>
        <br>

        <br>
        <br>
        <div>Calculadora
            </div>
            <div>
                <input id="numeroA" type="text" value="">
            </div>
            <div>
                <input id="numeroB" type="text" value="">
                <button type="button" class="btn btn-primary" onclick="myFunction()">Funcionar</button>
            </div>


            <div>
                <label style="Color:White;" for="operacao">Escolha uma operação</label>
                <select name="operacao" id="operacao">
                    <option value="SOMA">+</option>
                    <option value="SUBTRACAO">-</option>
                    <option value="MULTIPLICACAO">*</option>
                    <option value="DIVISAO">/</option>
                </select>
            </div>
            <div>
                <input id="resultado" disabled="true" type="text" value="">
            </div>
            <br>
        </div>
    </div>
</div>