@page
@model BrunaModel
@{
    ViewData["Title"] = "Bruna";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <p>Esta página é da Bruna</p>
        
        <h1>Olá, seja bem-vindo!</h1>
        <p>Me chamo Bruna, faço programação na Unialcance, onde faço programas, e aprendo utilizar o chat GPT a meu favor.</p>
         <img src="https://images.seeklogo.com/logo-png/28/2/hello-kitty-logo-png_seeklogo-289197.png" width="300" height= "175">
        <h2> APRENDA A PROGRAMAR </h2><br><h4> (sem queimar o PC) </h4>
        <h3> O que você vai aprender? </h3><br>
        <h4>Escrever códigos que funcionem(ou ao menos dê um erro);</h4>
        <h4>Saber que "só mais um ajuste" vai lhe custar 2 horas;</h4>
        <h4>Descobrir que um ponto/vírgula no lugar errado, seu código já era(ou sua visão);</h4><br>
        <h4><b> A próxima página será sobre mim :) </b></h4>
        <button type="button" src="" ><i>próxima página</i></button>

       
    </div>
</div>

