@page
@model BrunaModel
@{
    ViewData["Title"] = "Bruna";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <p>Esta página é da Bruna</p>
        
        <h1>Olá, seja bem-vindo!</h1>
        <p>Me chamo Bruna, faço programação na Unialcance, onde faço programas, e aprendo utilizar o chat GPT a meu favor.</p>
         <img src="https://images.seeklogo.com/logo-png/28/2/hello-kitty-logo-png_seeklogo-289197.png" width="450" height= "300">
        <h2> APRENDA A PROGRAMAR </h2><h4> (sem queimar o PC) </h4>
        <br>
        <h3> O que você vai aprender? </h3>
        <br>
        <p>Escrever códigos que funcionem(ou ao menos dê um erro);</p>
        <p>Saber que "só mais um ajuste" vai lhe custar 2 horas;</p>
        <p>Descobrir que um ponto/vírgula no lugar errado, seu código já era(ou sua visão);</p>
        <br>
        <h4><b> Agora vou contar um pouco mais sobre mim :) </b></h4>
        <br>
        <p> Meu nome completo é Bruna de Potter Jacobsen, sou natural de Ivoti, mas moro em Dois Irmãos, Rio Grande do Sul.
        Tenho 16 anos, estudo pela parte da manhã,o 2° ano do ensino médio,
         na Escola Estadual Técnica Affonso Wolf, pela tarde sou estagiária em uma loja de vestimentas infantis, Jeito Sapeca.
         Meu sonho é ser comissária de bordo, pretendo cursar "auxiliar de farmaceutico", na Unialcance, para ser um diferencial no meu currículo.
         Minha meta para este ano é aprender um idioma novo, talvez alemão pois conheço o idioma desde pequena, e posso pratica-lá em casa, com meus pais,e
         toda minha família fala alemão, por isso acho que teria certa facilidade com o idioma, mas outro idioma que tenho certo interesse em aprender é Libras.</p>
        
    </div>
</div>

