@page
@model EliedsModel
@{
    ViewData["Title"] = "Eliéds";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Eliéds</h1>
        <p>Esta página é do Eliéds</p>
         <body>
        <title>Lore GoW</title>
        <meta name="God of War" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/imagens/god.jpg" type="image/x-icon">
        <h1>God of War na Grécia</h1>
        <p> O primeiro jogo da franquia foi criado em 22 de março de 2005 pela Santa Monica Studio para PS2,
            e publicado  pela Sony Computer Entertainment (SCE).<br>
            <img src="/imagens/GoD1.jpg" alt="Trulli" width="500" height="333"><br>
            <br>

            Em 2007, 2 anos depois, foi lançado seu segundo jogo da franquia, que tambem era para PS2.<br>
            <img src="/imagens/GoD2.jpg" alt="Trulli" width="500" height="333"><br>
            <br>

            Em 2010 foi lançado o terceiro da sua franquia, onde foi o ultimo que se passava na Grécia antiga, o jogo era para PS3.<br>
            <img src="/imagens/GoD3.jpg" alt="Trulli" width="500" height="333"><br>
            <br>

            Em 2013 foi lançado o Ascension, onde mostra Kratos, nosso protagonista, 6 meses apos o assassinato involuntário de sua familia, cronologicamente, é o primeiro da franquia. <br>
            <img src="/imagens/GoDA.jpg" alt="Trulli" width="500" height="333"><br>
            <br>

            O jogo se passa na antiga Grécia, onde nosso protagonista, Kratos, é um jovem geral espartano e um semi-deus, filho de Zeus, onde após presenciar sua primeira derrota no campo de <br>
            batalha, Kratos suplica por ajuda do deus da guerra, Ares, onde ele promete sua alma e lealdade eterna se Ares fizesse com que eles ganhassem a guerra, Ares que estava atrás de um <br>
            guerreiro perfeito acaba aceitando e fazendo de Kratos seu guerreiro perfeito, após inumeras batalhas, Ares engana Kratos e fazendo com que ele matasse sua familia, Kratos em um ato <br>
            de raiva e vingança jura que ira matar Ares, após anos de espera e tortura Kratos mata Ares e toma seu lugar como novo deus da guerra, após algum tempo Kratos decidi descer a terra <br>
            e ajudar seu povo de esparta em uma guerra, Zeus não gostando de sua decisão decidi punir Kratos, retirando uma parte de seu poder e fazendo com que uma estatua gigante, cujo nome <br>
            é Colosso de Rodes, então Kratos inicia um comfronto onde Zeus oferece sua espada, a lamina do Olimpo, como forma de ajuda, Kratos acaba confiando e indo atrás da espada, quando <br>
            ele tenta a retirar, seus poderes divinos são retirados e colocados na espada, fazendo de Kratos um mortal novamente, após derrotar o Colosso, ele acaba baixando sua guarda e acaba <br>
            sendo acertado pela mão de Colosso, Zeus então acaba descendo e traindo Kratos, cravando a espada do Olimpo em seu peito e revelando ser seu pai, Kratos após sua suposta "morte" jura <br>
            vingança contra Zeus, após enfrentar inumeros inimigos, Kratos volta ao passado e trás os Titãos, para iniciar seu comfronto final contra o Olimpo, ao subir o monte Olimpo, Kratos <br>
            elimina vários deuses, na seguinte ordem: Poseidon primeiro, depois Hades, depois Helios e depois Hermes, logo após matar Poseidon, Kratos é traido pelos Titãs, onde Gaia o abandona, <br>
            após vários ocorridos Kratos precisa de encontrar uma garota, que é uma chave para dissipar a chama do Olimpo, para ter acesso a caixa de Pandora, após conseguir encontrar a garota e <br>
            dissipar a chama, Kratos abre a caixa de pandora e vai ao seu confronto final contra Zeus, durante sua luta, Gaia aparece, em seu último confronto, Kratos elemina Zeus e Gaia com o <br>
            mesmo ataque, atravessando o peito de Zeus e o coração de Gaia, assim eliminando a Titã, então quando Kratos pensou ter concluido sua vingança, Zeus aparece em uma forma expectral, <br>
            fazendo com que Kratos fosse para seu subconsciente, após sair do seu subconsciente, Kratos percebe que recebeu o poder da esperança, assim dando um fim a Zeus, após isso ele se <br>
            sacrifica, liberando a esperança para a humanidade, para que eles pudessem fazer um mundo onde não seria controlado por deuses.<br>
        </p>
    </body>
    </div>
    <form method="post">
        <input name="id" type="text" />
        <input type="text" name="example" />
        <input type="submit" class="btn btn-lg btn-default" value="Enviar" />
    </form>
</div>

