@page
@model FelipeModel
@{
    ViewData["Title"] = "Felipe";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Felipe</h1>
        <p>Esta página é do Felipe</p>
                <h1>("Definitivamente talvez um título")</h1>
<div>("insira um texto com palavras")</div>
<img src="https://www.google.com/imgres?q=camelo%20tatico&imgurl=https%3A%2F%2Fi.redd.it%2Fashkomflsvh91.jpg&imgrefurl=https%3A%2F%2Fwww.reddit.com%2Fr%2FHUEstation%2Fcomments%2Fwp00yp%2Fcamelo_t%25C3%25A1tico_sons_maneiros%2F&docid=kKjlhbh1PdTxjM&tbnid=DNHfmXZB0MR0zM&vet=12ahUKEwik8_nO7N-LAxVLqJUCHcYGA-oQM3oECGoQAA..i&w=522&h=453&hcb=2&ved=2ahUKEwik8_nO7N-LAxVLqJUCHcYGA-oQM3oECGoQAA">
<a href="https://crisordemparanormal.com/">link para texto</a>
    </div>
</div>

