@page
@model FelipeModel
@{
    ViewData["Title"] = "Felipe";
}


<div class="jumbotron text-center">
    <div class="container">dotnet
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Felipe</h1>
        <p>Esta página é do Felipe</p>
                <h1>("Bloco De Notas)</h1>
<div>("o paranormal não vem para a nossa realidade de maneira facil")</div>
<a href="https://crisordemparanormal.com/">link para texto</a>
<a href="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/aa454069-1f38-4db1-a9e3-75d6b00c42e8/dflhmqr-f2ae4772-67b3-4034-9bd8-1f0e7c8ba460.png/v1/fill/w_1280,h_1490/gun_pointed_at_camera_png_by_akithefull_dflhmqr-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTQ5MCIsInBhdGgiOiJcL2ZcL2FhNDU0MDY5LTFmMzgtNGRiMS1hOWUzLTc1ZDZiMDBjNDJlOFwvZGZsaG1xci1mMmFlNDc3Mi02N2IzLTQwMzQtOWJkOC0xZjBlN2M4YmE0NjAucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.6L_GGPUaGzIohGuAPrAm2-MG1weRYTVLJBsQh4AyQro">link Sem assalto</a>
</b>

<img src="https://static.wikia.nocookie.net/11fc1bfb-be5b-477c-87b4-366a6b817a19" alt="Flowers in Chania" width="1000" height="345">
    </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Bl0Co D3 nOt4S</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
  </div>

</div>
</div>
