@page
@model FelipeModel
@{
    ViewData["Title"] = "Felipe";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Felipe</h1>
        <p>Esta página é do Felipe</p>
                <h1>("Definitivamente talvez um título")</h1>
<div>("isso é um texto com definitivamente 37 letras")</div>
<a href="https://crisordemparanormal.com/">link para texto</a>
<iframe width="420" height="315"
src="https://youtu.be/GqKrfMzuc3s?autoplay=1&mute=1">
</iframe>
    </div>
</div>

