@page
@model MatheusModel
@{
    ViewData["Title"] = "Matheus";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Matheus</h1>
        <p>Esta página é do Matheus</p>
        <p>Sou o Matheus Pereira Fornaciari, tenho 14 anos, faço um curso de programação na Unialcance, onde aprendi um pouco sobre Portugol, html, SQl e c#. Estou fazendo esse curso pois quero trabalhar com programação, sempre gostei de informática e tecnologia, por isso escolhi a área da programação </p>
        <p>Sou corinthiano</p>

        <br>
        <br>

        <br>
        <br>
        <div>Calculadora
            </div>
            <div>
                <input style="Color:Black" id="numeroA" type="text" value="">
            </div>

            <div>
                <input style="Color:Black" id="numeroB" type="text" value="">
            </div>

            <div>
                <label style="Color:White;" for="operacao">Escolha uma operação</label>
                <select style="Color:Black" name="operacao" id="operacao">
                    <option value="SOMA">+</option>
                    <option value="SUBTRACAO">-</option>
                    <option value="MULTIPLICACAO">*</option>
                    <option value="DIVISAO">/</option>
                </select>
            </div>

            <div>
                <button style="Color:White" type="button" class="btn btn-primary" onclick="myFunction()">Calcular</button>
            </div>

            <div>
                <input style="Color:Black" id="resultado" disabled="true" type="text" value="">
            </div>
            <br>
    </div>
</div>

  