@page
@model MatheusModel
@{
    ViewData["Title"] = "Matheus";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Matheus</h1>
        <p>Esta página é do Matheus</p>
        <h1>Sou o Matheus Pereira Fornaciari, tenho 14 anos, faço um curso de programação na Unialcance, onde aprendi um pouco sobre Portugol, html, SQl e c#. Estou fazendo esse curso pois quero trabalhar com programação, sempre gostei de informática e tecnologia, por isso escolhi a área da programação </h1>
        <p>Sou corinthiano</p>

        <input type="button" value="Da uma clicada em mim" />
    </div>
</div>

  