@page
@model NicolasModel
@{
    ViewData["Title"] = "Nicolas";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Nicolas</h1>
        <p>Esta página é do Nicolas</p>
        <p>Eu sou o Nicolas, estou fazendo um curso com intuito de aprender a programar.</p>
        <p>Tenho 15 anos, sou de Ivoti, mas sou natural de Porto Alegre.</p>
        <div class="center">
            <div>Calculadora</div>
            <div>
                <input id="numeroA" type="text" value="">
            </div>
            <div>
                <input id="numeroB" type="text" value="">
                <input type="button" onclick="myFunction()" value="Calcular">
            </div>

            <div>
                <label for="operacao">Escolha uma operação:</label>
                <select name="operacao" id="operacao">
                    <option value="SOMA">+</option>
                    <option value="SUBTRACAO">-</option>
                    <option value="MULTIPLICACAO">*</option>
                    <option value="DIVISAO">/</option>
                </select>
            </div>

            <div>
                <input id="resultado" disabled="true" type="text" value="">
            </div>
            <br>
            <a href="./index.html">Voltar</a>
        </div>
    </div>
</div>

@* CSS para tornar as letras azuis *@
<style>
    /* Definindo a cor do texto para azul */
    body {
        color: blue;
    }

    label, input, div {
        font-family: Arial, sans-serif;
    }
</style>