@page
@model ViniciusHipplerModel
@{ViewData["Title"] = "Vinícius Hippler";}

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

<div class="container text-center mt-5">
    <h1>Meus Links</h1>
    <p>Conecte-se comigo através dos links abaixo:</p>
    
    <div class="list-group mt-4">
        <a href="https://github.com/euvinihippler" class="list-group-item list-group-item-action" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/vin%C3%ADcius-hippler/" class="list-group-item list-group-item-action" target="_blank">LinkedIn</a>
        <a href="https://instagram.com/vini.hippler" class="list-group-item list-group-item-action" target="_blank">Instagram</a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=viniciushippler2009@gmail.com&su=Assunto&body=Corpo%20do%20e-mail&quot; target="_blank">Enviar e-mail pelo Gmail</a>
    </div>
</div>
