@page
@model ViniciusRafaelModel
@{
    ViewData["Title"] = "Vinícius Rafael";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Vinícius Rafael</h1>
        <p>Esta página é do Vinícius Rafael</p>
        <p>E fiquei uma hora e meia sem saber minha senha do github</p>
        <p>Eu perdi meu emprego hoje 11/03/25</p>
    </div>
</div>

