@page
@model ViniciusRafaelModel
@{
    ViewData["Title"] = "Vinícius Rafael";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Vinícius Rafael</h1>
        <p>Esta página é do Vinícius Rafael</p>
        <p>Meu nome é Vinicius Rafael S F, tenho 16 anos de idade, estou cursando programação e pretendo seguir na área.</p>
        <p>Quero futuramente possuir foco em desenvolvimento de jogos</p>
        <p>Vou continuar me especializando na área, fazendo diversos cursos e futuramente uma faculdade</p>
        <br>
        <br>

        <br>
        <br>
        <div>Calculadora
            </div>
            <div>
                <input style="Color:Black" id="numeroA" type="text" value="">
            </div>
           
            <div>
                <input style="Color:Black" id="numeroB" type="text" value="">
            </div>
           
            <div>
                <label style="Color:White;" for="operacao">Escolha uma operação</label>
                <select style="Color:Black" name="operacao" id="operacao">
                    <option value="SOMA">+</option>
                    <option value="SUBTRACAO">-</option>
                    <option value="MULTIPLICACAO">*</option>
                    <option value="DIVISAO">/</option>
                </select>
            </div>

            <div>
                <button style="Color:White" type="button" class="btn btn-primary" onclick="myFunction()">Calcular</button>
            </div>

            <div>
                <input style="Color:Black" id="resultado" disabled="true" type="text" value="">
            </div>
            <br>
        </div>
    </div>
</div>
    </div>
    </div>
</div>

